<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <img src="assets/iphone-contacts.jpg" class="rounded-circle" alt="contactImg" width="40" height="35"
        style="margin-top: 18px;margin-left: 23px;">
    </div>
    <div class="col-sm-3">
      <h2>Contacts</h2>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
          placeholder="Enter text to search" autofocus>
      </div>
    </div>
    <div class="col-sm-3"> <button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModalCenter">
        + Add contact
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6" style="margin-left: 20px; padding-right: 0px;padding-left: 0px;">
      <div class="row" style="background-color: rgb(230, 227, 227);">
        <div class="col-xs-1"></div>
        <div class="col-sm-5">
          <h4 style="text-align: left;">Basic Info</h4>
        </div>
        <div class="col-sm-5">
          <h4 style="text-align: right;">Company</h4>
        </div>
      </div>

      <div class="row">
        <!-- <ul class="collection" *ngIf="datas">
          <li class="collection-item" *ngFor="let data of datas">
            {{data.Fullname}}
          </li>
        </ul> -->
        <div class="col-sm-12" style="padding-right: 0px;padding-left: 0px;">
          <ul class="list-group" *ngIf="length !=0; else elseBlock">
            <li class="list-group-item" *ngFor="let data of datas | appFilter: searchText " (click)="onSelect(data)">
              <div class="row">
                <div class="col-sm-6 text-left">
                  <div class="row">
                    <div class="col-sm-11">
                      <h6 class="name">{{this.data.Fullname}}</h6>
                      <h6 class="email">{{data.Email}}</h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 text-right">
                  <div class="row">
                    <div class="col-sm-11">
                      <h6 class="topic">{{data.Company}}</h6>
                      <h6>{{this.data.Designation}} </h6>
                      <!-- <p>{{this.data.time | date:'medium'}}</p> -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" (click)="onGet(data)"
                        data-target="#ModalCenter">
                        Send Message
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-sm-5" style="margin-left: 40px; padding-right: 0px;padding-left: 20px;">
      <div class="row" *ngIf="this.Fullname else AAA" style="background-color: rgb(230, 227, 227);">
        <h3 style="text-align: center;">{{this.Fullname}}</h3>
        <p style="text-align: center;">{{this.Designation}}</p>
        <ul class="list-group">
          <li class="list-group-item">Full name: {{this.Fullname}}</li>
          <li class="list-group-item">Email: {{this.Email}}</li>
          <li class="list-group-item">Phone: {{this.Phone}}</li>
          <li class="list-group-item">Company: {{this.Company}}</li>
          <li class="list-group-item">Address: {{this.Address}}</li>
        </ul>
      </div>
      <div class="row" *ngIf="datas && !this.Fullname" #AAA style="background-color: rgb(230, 227, 227);">
        <h3 style="text-align: center;">{{datas[0].Fullname}}</h3>
        <p style="text-align: center;">{{datas[0].Designation}}</p>
        <ul class="list-group">
          <li class="list-group-item">Full name: {{datas[0].Fullname}}</li>
          <li class="list-group-item">Email: {{datas[0].Email}}</li>
          <li class="list-group-item">Phone: {{datas[0].Phone}}</li>
          <li class="list-group-item">Company: {{datas[0].Company}}</li>
          <li class="list-group-item">Address: {{datas[0].Address}}</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle" style="margin-top: 11px;">Create contact</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            style="position: relative; bottom: 19px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">

            <div class="form-group"
              [ngClass]="{'has-error':f.Fullname.errors && (f.Fullname.dirty || f.Fullname.touched) }">
              <label for="Fullname">Fullname<span class="badge">*</span></label>
              <input type="text" formControlName="Fullname" class="form-control" />
              <span class="help-block" *ngIf="f.Fullname.errors && (f.Fullname.dirty || f.Fullname.touched)">
                <span *ngIf="f.Fullname.errors.required">Fullname is required</span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error':f.Email.errors && (f.Email.dirty || f.Email.touched) }">
              <label for="Email">Email<span class="badge">*</span></label>
              <input type="text" formControlName="Email" class="form-control" />
              <span class="help-block" *ngIf="f.Email.errors && (f.Email.dirty || f.Email.touched)">
                <span *ngIf="f.Email.errors.required">Email is required</span>
                <span *ngIf="f.Email.errors.minlength">Email must be at least 8 characters</span>
                <span *ngIf="f.Email.errors.maxlength">Email must be below 20 characters</span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error':f.Phone.errors && (f.Phone.dirty || f.Phone.touched) }">
              <label for="Phone">Phone<span class="badge">*</span></label>
              <input type="number" formControlName="Phone" class="form-control" />
              <span class="help-block" *ngIf="f.Phone.errors && (f.Phone.dirty || f.Phone.touched)">
                <span *ngIf="f.Phone.errors.required">Phone number is required</span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error':f.Company.errors && (f.Company.dirty || f.Company.touched) }">
              <label for="Company">Company<span class="badge">*</span></label>
              <input type="text" formControlName="Company" class="form-control" />
              <span class="help-block" *ngIf="f.Company.errors && (f.Company.dirty || f.Company.touched)">
                <span *ngIf="f.Company.errors.required">Company is required</span>
              </span>
            </div>
            <div class="form-group">
              <label for="Address">Address</label>
              <input type="text" formControlName="Address" class="form-control" />
              
            </div>
            <div class="form-group" [ngClass]="{'has-error':f.Designation.errors && (f.Designation.dirty || f.Designation.touched) }">
              <label for="Designation">Designation<span class="badge">*</span></label>
              <input type="text" formControlName="Designation" class="form-control" />
              <span class="help-block" *ngIf="f.Designation.errors && (f.Designation.dirty || f.Designation.touched)">
                <span *ngIf="f.Designation.errors.required">Designation is required</span>
              </span>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" #closebutton class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="closeModal">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ng-template #elseBlock style="text-align: center;">No Items!!!</ng-template>

  <div class="modal fade" id="ModalCenter" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle" style="margin-top: 11px;">Send Message</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            style="position: relative; bottom: 19px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="MessageForm" class="sendmsg" (ngSubmit)="send()">
          <div class="modal-body">

            <div class="form-group" [ngClass]="{'has-error':fb.Fname.errors && (fb.Fname.dirty || fb.Fname.touched) }">
              <label for="Fname">From<span class="badge">*</span></label>
              <input type="email" id="Fname" #Fname value="{{this.sendEmail}}" name="Fname" formControlName="Fname"
                class="form-control" />
                <span class="help-block" *ngIf="fb.Fname.errors && (fb.Fname.dirty || fb.Fname.touched)">
                  <span *ngIf="fb.Fname.errors.required">From Email is required</span>
                </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error':fb.Tname.errors && (fb.Tname.dirty || fb.Tname.touched) }">
              <label for="Tname">To<span class="badge">*</span></label>
              <input type="email" id="Tname" #Tname name="Tname" formControlName="Tname" class="form-control" />
              <span class="help-block" *ngIf="fb.Tname.errors && (fb.Tname.dirty || fb.Tname.touched)">
                <span *ngIf="fb.Tname.errors.required">To Email is required</span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error':fb.msg.errors && (fb.msg.dirty || fb.msg.touched) }">
              <label for="msg">Msg<span class="badge">*</span></label>
              <textarea type="text" name="msg" formControlName="msg" class="form-control"></textarea>
              <span class="help-block" *ngIf="fb.msg.errors && (fb.msg.dirty || fb.msg.touched)">
                <span *ngIf="fb.msg.errors.required">Message is required</span>
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onSwap()" style="float: left;">Switch user</button>
            <button type="button" #closebutton class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="closeModal">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>