.fade{
    opacity: 1;
}

.modal.fade .modal-dialog {
    transform: translate(0);
}

ul.list-group li:hover #check{
    visibility: visible;
}
ul.list-group #check{
    visibility: hidden;
}
ul.list-group li:hover{
    background-color: rgb(231, 228, 228);
    cursor: pointer;
}